In [95]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_pickle('accessible_pois.pkl')

In [8]:
df.head(10)

,id,access,barrier,bicycle,motor_vehicle,opening_hours,wheelchair,lon,lat
99878,99878,permissive,gate,no,no,dawn-dusk,yes,-0.152985,51.524358
104734,104734,None,None,None,None,None,yes,-1.785876,51.565653
106213,106213,None,None,None,None,None,yes,-0.142942,51.525660
108042,108042,None,None,None,None,Mo-We 16:00-23:30; Th-Fr 16:00-01:00; Sa 16:00...,limited,-0.135513,51.523561
251191,251191,None,None,None,None,None,limited,-0.715918,51.115444
262708,262708,None,None,None,None,None,limited,-0.726258,51.024400
262778,262778,None,None,None,None,None,yes,-0.826153,50.990331
271339,271339,None,None,None,None,None,no,-1.856858,51.353526
328762,328762,None,None,None,None,"""Part time""",yes,1.305108,52.626620
367457,367457,None,None,None,None,None,yes,-1.446450,52.984748

In [6]:
df["wheelchair"].value_counts()

yes                       18815
no                         6793
limited                    3576
designated                   95
no;yes                        1
no space                      1
no use other side door        1
Name: wheelchair, dtype: int64

In [46]:
df['wheelchair_cat'] = df['wheelchair'].replace(['no space', 'no;yes', 'no use other side door'], 'no')

In [47]:
df['wheelchair_cat'].value_counts()

yes           18815
no             6796
limited        3576
designated       95
Name: wheelchair_cat, dtype: int64

In [37]:
df['barrier_cat'] = df['barrier'].replace(['kissing_gate', 'swing_gate', 'turnstile', 'lift_gate', 
                                          'lych_gate', 'lych-gate', 'fence', 'sliding_gate'], 'gate')

In [38]:
df['barrier_cat'] = df['barrier_cat'].replace(['cycle_barrier', 'stile', 'bollard',  
                                           'motorcycle_barrier', 'block', 'stepping_stones'], 'road_barrier')

In [39]:
df['barrier_cat'] = df['barrier_cat'].replace('entrance', 'door')

In [61]:
print(df.loc[df['barrier_cat'] == 'yes'])

                    id access barrier bicycle motor_vehicle opening_hours  \
279935450    279935450     no     yes    None          None          None
429894297    429894297     no     yes      no          None          None
730835329    730835329   None     yes     yes            no          None
7446803982  7446803982     no     yes    None          None          None
7446825692  7446825692     no     yes    None          None          None

           wheelchair       lon        lat wheelchair_dummy barrier_cat  \
279935450          no -1.490645  50.991960               no         yes
429894297          no -0.868906  51.458096               no         yes
730835329         yes  0.081278  51.560946              yes         yes
7446803982         no -0.863249  51.171986               no         yes
7446825692         no -0.864237  51.173064               no         yes

           wheelchair_cat access_cat
279935450              no         no
429894297              no         no
730835329             yes       None
7446803982             no         no
7446825692             no         no

In [42]:
df['barrier_cat'].value_counts()

gate            1052
door             852
kerb             228
road_barrier     177
yes                5
Name: barrier_cat, dtype: int64

In [84]:
df['bicycle'].value_counts()

no             268
yes            237
dismount       103
private         20
permissive      12
designated       8
destination      2
permit           2
Name: bicycle, dtype: int64

In [62]:
df['access_cat'] = df['access'].replace(['restricted', 'permit'], 'permissive')

In [66]:
df['access_cat'] = df['access_cat'].replace(['resident', 'residents'], 'private')

In [64]:
df['access_cat'] = df['access_cat'].replace('none', 'no')
df['access_cat'] = df['access_cat'].replace(['customer', 'trade'], 'customers')

In [80]:
categories = {'private': 'private', 'yes': 'public', 'permissive': 'permissive', 'public' : 'public', 
              'customers': 'customers', 'no': 'no', 'visitors': 'permissive'}

df['access_cat'] = df['access_cat'].map(categories)

In [81]:
df['access_cat'].value_counts()

private       1575
public         919
customers      459
no             222
permissive     208
Name: access_cat, dtype: int64

In [94]:
df.to_pickle('categorised_accessible_pois.pkl')

In [85]:
subset_cols = ['barrier_cat', 'wheelchair_cat', 'access_cat', 'motor_vehicle', 'bicycle']
subset_df = df.loc[:, subset_cols]
subset_df.head()

       barrier_cat wheelchair_cat  access_cat motor_vehicle bicycle
99878         gate            yes  permissive            no      no
104734        None            yes         NaN          None    None
106213        None            yes         NaN          None    None
108042        None        limited         NaN          None    None
251191        None        limited         NaN          None    None